
@{
    ViewBag.Title = "Index";
}


<div class="container-fluid content-end">

    @{Html.RenderPartial("_PartialAdmSideBar"); }

    <div class="col-md-9 col-sm-8 content-cad" id="divInicial">
        <h1 class="page-header">
            Administração
            <small>Escolha ao lado a opção desejada</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Administração", "Index", "Administracao")
            </li>
            <li class="active" id="liPagina">Início</li>
        </ol>
        <div class="col-md-8 col-lg-offset-2">
            <ul class="list-group">
                <li class="list-group-item list-group-item-info">Cursos</li>
                <li class="list-group-item">
                    Cadastre, edite ou visualize todos os cursos da Faculdade.
                </li>
            </ul>
        </div>

        <div class="col-md-8 col-lg-offset-2">
            <ul class="list-group">
                <li class="list-group-item list-group-item-info">Departamentos</li>
                <li class="list-group-item">
                    Cadastre, edite e visualize os departamentos para que os usuários possam deixar o seu Feedback.
                </li>
            </ul>
        </div>
        <div class="col-md-8 col-lg-offset-2">
            <ul class="list-group">
                <li class="list-group-item list-group-item-info">Usuários</li>
                <li class="list-group-item">
                    Altere ou visualize os dados de um usuário cadastrado no sistema
                </li>
            </ul>
        </div>
    </div>
</div>
